In [2]:
#nested loop to iterate through a 2D list
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

for row in matrix:
    for element in row:
        print(element, end=' ')
    print()  #move to next row

1 2 3
4 5 6
7 8 9

In [3]:
#Example: Printing a triangle pattern
n = 5
for i in range(n):
    for j in range(i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [4]:
#Example: Printing a number pattern (1 to n)
n=5
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [10]:
#Area of Triangle
Base = input("enter Base length of tringle: ")
height = input("enter height length of triangle: ")
area = 0.5*float(Base)*float(height)

print("area of triangle is :", area)

enter Base length of tringle: 5
enter height length of triangle: 5
area of triangle is : 12.5

In [11]:
sum = 0
for i in range(1, 101):
    sum += i 
    if sum > 1000:
        break
print(f"The sum is {sum}")

The sum is 1035

In [12]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [15]:
num = [1,2,3,4,5]
for i in num:
    if i % 2 == 0:
        pass
    else:
        print(i)

1
3
5

In [16]:
integer_value = 42
float_value = float(integer_value)
print(float_value)

42.0

In [17]:
float_value = 42.99
integer_value = int(float_value)
print(integer_value)

42

In [19]:
Var = ["a", "b", "c"]
print(Var)

['a', 'b', 'c']

In [20]:
list = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of numbers: ")
print(list)

List = [1, 2, 'jar', 4, 'For', 6, 'jar']
print("\nList with the use of Mixed Values: ")
print(list)

List with the use of numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

List with the use of Mixed Values:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

In [22]:
List = ["Tanish", "wadhwa", "UG"]
print("Accessing the elements from the list")
print(List[0])
print(List[2])
print(List[1])

Accessing the elements from the list
Tanish
UG
wadhwa

In [24]:
list = []
print(len(list))

list2 = [10,20,30,40]
print(len(list2))

0
4

In [28]:
# Python program to demonstrate
# Addition of elements in a List
# Creating a List
List = [1]
print("Initial blank List:")
print (List)
# Addition of Elements
# in the List
List.append (1)
List.append (2)
List.append (4)
print("\nList after Addition of Three elements: ")
print (List)
# Adding elements to the List
# using Iterator
for i in range(1, 4) :
    List.append(i)
print("InList after Addition of elements from 1-3: ")
print (List)
# Adding Tuples to the List
List. append((5, 6))
print("InList after Addition of a Tuple: ")
print(List)
# Addition of List to a List
List2 = ['For', 'while']
List.append(List2)
print("\nlist after Addition of a List: ")
print(List)

Initial blank List:
[1]

List after Addition of Three elements:
[1, 1, 2, 4]
InList after Addition of elements from 1-3:
[1, 1, 2, 4, 1, 2, 3]
InList after Addition of a Tuple:
[1, 1, 2, 4, 1, 2, 3, (5, 6)]

list after Addition of a List:
[1, 1, 2, 4, 1, 2, 3, (5, 6), ['For', 'while']]

In [31]:
#Python program to demonstrate
# Addition of elements in a List
# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)
# Addition of Element at
# specific Position
# (using Insert Method)
List.insert (3, 12)
List.insert(0, 'Tanish')
print("\nlist after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

list after performing Insert Operation:
['Tanish', 1, 2, 3, 12, 4]

In [36]:
# Python program to demonstrate
# Addition of elements in a List

# Creating a List
List = [1, 2, 3, 4]
print("Initial List: ")
print(List)

# Addition of multiple elements
# to the List at the end
# (using Extend Method)
List.extend([9, 'tanish', 'wadhwa'])
print("\nlist after performing Extend Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

list after performing Extend Operation:
[1, 2, 3, 4, 9, 'tanish', 'wadhwa']

In [37]:
# Python program to demonstrate #Removal of elements in a List
# Creating a List
List = ['S', 'H', 'I', 'V', 'A'
'M',
'E', 'H', 'T', 'A', 'P', 'h', 'D']
print("Initial List: ")
print(List)
# Print elements of a range
# using Slice operation
Sliced_List = List[3:8]
print("\nSlicing elements in a range 3-8: ")
print (Sliced_List)
# Print elements from a
# pre-defined point to end
Sliced_List = List[5:]
print("\nElements sliced from 5th "
"element till the end: ")
print (Sliced_List)
# Printing elements from
# beginning till end
Sliced_List = List[:]
print("\nPrinting all elements using slice operation: ")
print (Sliced_List)

Initial List:
['S', 'H', 'I', 'V', 'AM', 'E', 'H', 'T', 'A', 'P', 'h', 'D']

Slicing elements in a range 3-8:
['V', 'AM', 'E', 'H', 'T']

Elements sliced from 5th element till the end:
['E', 'H', 'T', 'A', 'P', 'h', 'D']

Printing all elements using slice operation:
['S', 'H', 'I', 'V', 'AM', 'E', 'H', 'T', 'A', 'P', 'h', 'D']